/* BLOCK ON TAG BOOK */
.block-on-tagbook-buttons-div > vaadin-button:first-child {
   /*background: var(--block-button-error-color);*/
}

.block-on-tagbook-buttons-div > vaadin-button:last-child {
   margin-bottom: 15px;
}

.block-on-tagbook-buttons-div > vaadin-button {
   width: 100%;
   color: white;
   text-shadow: 0.5px 0.5px white;
   border-radius: 8px;
   height: 42px;
}

.block-on-tagbook-buttons-div {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding-left: 10px;
   padding-right: 10px;
}

.block-on-tagbook-main-div > div > span:nth-child(2) {
   font-size: 16px;
   color: var(--block-text-color);
}

.block-on-tagbook-main-div > div > span:nth-child(1) {
   color: var(--lumo-contrast-20pct);
   font-size: 11px;
   margin-right: 5px;
}

.block-on-tagbook-main-div > span:nth-child(1) {
   margin-top: 10px;
   margin-bottom: 8px;
}

.block-on-tagbook-main-div > span:nth-child(2) {
   color: var(--block-text-color);
}

.block-on-tagbook-main-div > div {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 8px;
}

.block-on-tagbook-main-div {
   display: flex;
   flex-direction: column;
}

.block-on-tagbook-main-layout {
   padding-left: 20px;
   padding-right: 20px;
}

/* MAIN BLOCK */
.block-main-layout {
   overflow: hidden;
}

.block-dialog > div {
   display: flex;
   flex-direction: row;
   align-self: end;
}

.block-dialog > div > vaadin-button:nth-child(2) {
   color: var(--lumo-primary-color);
}

.block-dialog > div > vaadin-button {
   color: white;
   background: none;
   margin: 0;
   font-size: 15px;
   position: relative;
   top: 15px;
}

.block-dialog > span:nth-child(1) {
  margin-bottom: 5px;
  font-size: 18px;
  text-shadow: 0.5px 0.5px white;
}

.block-dialog::part(overlay) {
   border-radius: 3px;
   height: auto;
   width: 310px;
   word-wrap: break-word;
}

.block-dialog::part(content) {
   display: flex;
   flex-direction: column;
   color: white;
   justify-content: center;
   background: #424242;
   padding-top: 15px;
   overflow-y: auto;
}

.block-list > div {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-left: 15px;
}

.block-list > div > span:nth-child(1) {
   color: var(--lumo-contrast-20pct);
   margin-right: 5px;
}

.block-list > div > span {
   font-size: 11px;
   color: var(--block-text-color);
   margin-right: 5px;
}

.block-section > div > vaadin-icon {
   background: var(--button-contrast-color);
   padding: 9px;
   font-size: 23px;
   border-radius: 50%;
}

.block-section > div > span {
   color: var(--block-error-color);
}

.block-section > div {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 1px;
   padding-bottom: 1px;
   margin-bottom: 8px;
   margin-top: 12px;
}

.block-section {
   border-bottom: 0.5px solid var(--nav-border);
   padding-bottom: 5px;
}

.block-section > div:active {
   background: var(--hover-color);
}
