.main-follower-header-layout > vaadin-button {
  background: var(--button-contrast-color);
  border-radius: 20px;
  color: white;
  font-weight: bold;
  margin: 0;
}

.main-follower-header-layout > vaadin-button:nth-child(1){
  margin-left: 10px;
}

.main-follower-all-button {
  justify-content: center;
}

.main-follower-all-button > vaadin-button {
  color: white;
  font-weight: bold;
  width: 330px;
  height: 35px;
  border-radius: 10px;
  background: var()--button-contrast-color;
}

.notif-search-icon {
  background: var(--lumo-contrast-10pct);
  padding: 8px;
  border-radius: 50%;
  font-size: 25px;
}

.main-followers-text-1 {
  font-weight: bold;
  font-size: 23px;
  margin-left: 10px;
  color: white;
}

.main-follower-header-layout-1 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
}

.main-follower-middle-layout {
   all: unset;
}

.main-follower-buttons-layout > vaadin-button {
  color: white;
  font-weight: bold;
  font-size: 14px;
  width: 105px;
  height: 33px;
  border-radius: 7px;
}

.main-follower-buttons-layout > vaadin-button:nth-child(1) {
  background: var(--lumo-primary-color);
}

.main-follower-buttons-layout > vaadin-button:nth-child(2) {
  background: #393A3C;
}

.main-follower-buttons-layout {
  width: 100%;
  justify-content: center;
}

.main-follower-request-avatar {
  width: 90px;
  height: 90px;
  border: 0.5px solid var(--lumo-contrast-30pct);
  pointer-events: none;
}

.main-follower-name-layout > span:nth-child(2) {
  color: var(--lumo-contrast-50pct);
  font-size: 11px;
}

.main-follower-name-layout {
  width: 100%;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 5px;
  color: white;
  font-size: 14px;
}

.main-follower-middle-layout,
.main-follower-buttons-layout,
.main-follower-name-layout {
  padding: 0;
}

.main-follower-child-layout {
  align-items: center;
  width: 100%;
}

.main-follower-parent-layout {
   height: 100%;
}

.main-follower-request-all-text {
   color: var(--primary-text-color);
}

.main-follower-request-text {
   color: white;
   font-weight: bold;
   font-size: 14px;
}

.main-follower-request-header {
   margin-top: 10px;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.main-follower-form-layout {
   background: var(--primary);
   height: 100%;
   overflow-y: auto;
}

.main-follower-app-layout::part(navbar) {
   background: var(--primary);
   margin-top: 57px;
   height: 40px;
}

.main-follower-app-layout[overlay] {
  background: var(--primary);
  user-select: none;
}

.main-follower-header-layout {
  /*color: white;*/
  font-weight: bold;
  margin-top: 10px;
}
