@import "chat.css";
@import "message-settings.css";
@import "search-messages.css";

.custom-mute-layout > vaadin-button {
  width: 100%;
  color: white;
  background: var(--lumo-primary-color);
}

.custom-mute-layout vaadin-radio-button::part(radio) {
  border: 1px solid white;
  background: none;
  width: 16px;
  height: 16px;
}

.custom-mute-layout vaadin-radio-group > vaadin-radio-button {
   font-size: 14px;
   margin-top: 0;
}

.custom-mute-layout > div {
   display: flex;
   flex-direction: column;
}

.custom-mute-layout > div > vaadin-radio-button {
   background: green;
   width: 100%;
   font-size: 12px;
}

.custom-mute-layout > vaadin-integer-field::part(label),
.custom-mute-layout > div > vaadin-radio-group::part(label) {
   font-size: 15px;
   color: white;
}

.custom-mute-layout > vaadin-integer-field > input {
   margin-left: 5px;
}

.custom-mute-layout > vaadin-integer-field::part(input-field) {
   background: var(--text-field);
   height: 45px;
   border-radius: 30px;
}

.custom-mute-layout > vaadin-integer-field {
   width: 100%;
}

.custom-mute-layout > span:nth-child(4) {
   width: 100;
   text-align: center;
   align-self: center;
}

.custom-mute-layout > span:first-child {
   width: 100%;
   text-align: center;
   color: white;
   text-shadow: 0.5px 0.5px white;
}

.custom-mute-layout {
   padding-bottom: 5px;
}

.message-mute-timer > span:first-child {
   margin-right: 10px;
}

.message-mute-timer {
   font-size: 15px;
   text-align: center;
   width: 180p;
   margin-right: 15px;
}

.unread-requests-main-div:active {
   background: var(--hover-color) !important;
}

.unread-requests-main-div > div {
}

.unread-requests-main-div > div > span {
    background: var(--lumo-error-color);
    position: relative;
    right: 10px;
    bottom: 8px;
    font-size: 12px;
    border-radius: 50%;
    padding: 3px;
    width: 11px;
    height: 11px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--button-contrast-color);
}

.unread-requests-main-div > span {
    margin-left: 5px;
    text-shadow: 0.5px 0.5px white;
    font-size: 15px;
}

.unread-requests-main-div vaadin-icon {
    margin-left: 15px;
    font-size: 20px;
}

.unread-requests-main-div {
    display: flex;
    justify-content: unset !important;
    background: var(--lumo-contrast-5pct) !important;
    width: 340px !important;
    border-radius: 7px !important;
    color: white !important;
    height: 21px !important;
    align-items: center !important;
}

.message-typing::after {
    content: '';  /* Initial content is empty */
    animation: dots 2s infinite;  /* Dots animation */
}

@keyframes dots {
    0% { content: ''; }      /* No dots */
    33% { content: '.'; }     /* One dot */
    66% { content: '..'; }    /* Two dots */
    100% { content: '...'; }  /* Three dots */
}

.message-sender-not-seen {
   color: white !important;
   /*font-weight: bold;*/
}

.main-messages-div > div:last-child {
   margin-right: 13px;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.message-delivered-icon, .message-not-delivered-icon, .message-seen-icon {
   margin-left: 10px;
}

.main-messages-div > div:last-child > vaadin-icon:first-child {
   color: white;
}

.message-not-delivered-icon > vaadin-icon,
.message-delivered-icon > vaadin-icon,
.message-seen-icon > vaadin-avatar,
.main-messages-div > div:last-child > vaadin-icon {
   width: 17px;
   height: 17px;
}

.message-not-delivered-icon > vaadin-icon {
   fill: var(--lumo-primary-color);
}

.message-delivered-icon > vaadin-icon {
   color: var(--lumo-primary-color);
}

.messages-layout > div > div:nth-child(1) {
   display: flex;
   align-items: center;
}

.messages-layout > div > div:nth-child(1) > div {
   height: 12px;
   width: 12px;
   background: var(--lumo-success-text-color);
   border-radius: 50%;
   position: relative;
   top: 15px;
   right: 13px;
   border: 2px solid var(--primary);
}

.messages-layout > div > div:nth-child(1) > vaadin-avatar {
   width: 50px;
   height: 50px;
   border: 1px solid var(--lumo-contrast-30pct);
   margin-left: 10px;
}

.messages-layout > div > div:nth-child(2) > span:nth-child(1) {
   color: white;
   font-size: 15px;
}

.messages-layout > div > div:nth-child(2) > span:nth-child(2) {
   color: var(--secondary);
}

.messages-layout > div > div:nth-child(2) > div > div {
   background: var(--lumo-error-color);
   border-radius: 50%;
   font-size: 10px;
   padding: 2px;
   height: 10px;
   width: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   text-shadow: 0.5px 0.5px white;
   margin-right: 5px;
}

.messages-layout > div > div:nth-child(2) > div {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.messages-layout > div > div:nth-child(2) {
   display: flex;
   flex-direction: column;
   width: 100%;
   position: relative;
   right: 6px;
}

.messages-layout {
   padding: 0;
   display: flex;
   flex-direction: column;
   /*justify-content: cente;*/
   align-items: center;
   height: 100%;
}

.messages-layout > .main-messages-div {
   align-self: flex-start;
}

.messages-layout > .main-messages-div:active {
   background: var(--hover-color);
}

.messages-layout .message-request-empty-div {
   height: 100% !important;
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
}

/*.messages-layout > div:first-child {
   padding-top: 0;
   padding-bottom: 0;
}*/

.messages-layout > div {
   all: unset;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   margin: 0;
   padding-top: 10px;
   padding-bottom: 8px;
}

.message-form-layout {
   height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
}

.message-form-layout::-webkit-scrollbar {
   display: none;
}

/* AVATARS */
.message-avatars-layout > vaadin-icon {
   position: absolute;
   display: flex;
   color: white;
   background: var(--lumo-primary-color);
   width: 55px;
   height: 55px;
   border-radius: 50%;
   padding: 13px;
   bottom: 15px;
   right: 15px;
   z-index: 9999;
}

.message-avatars-layout > div > div:nth-child(2) {
   height: 12px;
   width: 12px;
   background: var(--lumo-success-text-color);
   border-radius: 50%;
   position: relative;
   bottom: 20px;
   left: 26px;
   border: 2px solid var(--primary);
}

.message-avatars-layout > div > span {
   width: 70px;
   font-size: 12px;
   text-align: center;
   color: white;
   position: relative;
   bottom: 10px;
}

.message-avatars-layout > div:active {
   background: var(--hover-color);
}

.message-avatars-layout > div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-left: 5px;
   padding-right: 5px;
}

.message-avatars-layout > div > div:first-child {
   width: 55px;
   height: 55px;
   pointer-events: none;
   border: 3px solid var(--lumo-primary-color);
   border-radius: 50%;
   margin-top: 3px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.message-avatars-layout > div > div > vaadin-avatar {
   width: 50px;
   height: 50px;
   pointer-events: none;
   border: 2px solid var(--primary);
}

.message-avatars-layout::-webkit-scrollbar {
   display: none;
}

.message-avatars-layout {
   display: flex;
   flex-direction: row;
   overflow-x: auto;
   padding-left: 10p;
   background: var(--primary);
}

.message-header-layout > div vaadin-icon:last-child {
   margin-right: 10px;
   margin-left: 10px;
}

.message-header-layout > div vaadin-icon {
   background: var(--button-contrast-color);
   border-radius: 50%;
   padding: 3px;
   font-size: 25px;
}

.message-header-layout > div > div > span {
   position: absolute;
   background: var(--lumo-error-color);
   padding: 4px;
   border-radius: 10px;
   height: 15px;
   text-align: center;
   display: flex;
   align-items: center;
   bottom: 28px;
   right: 55px;
   font-size: 13px;
   color: white;
   font-weight: bold;
   border: 1px solid var(--primary);
}

.message-header-layout > div {
   display: flex;
   flex-direction: row;
}

.message-header-layout > span:first-child {
   margin-left: 10px;
   font-weight: bold;
   font-size: 25px;
}

.message-header-layout {
   align-items: center;
   color: white;
   width: 100%;
   justify-content: space-between;
}


.message-app-layout::part(navbar) {
   background: var(--primary);
   border-top: 0.5px solid var(--nav-border);
   margin-top: 57px;
   height: 40px;
}

.message-app-layout[overlay] {
  background: var(--primary);
  user-select: none;
}
