.people-reacted-tabsheet {
   height: 100%;
   overflow-y: auto;
}

.people-reacted-div > div > div {
   margin-left: 10px;
   display: flex;
   align-items: center;
   padding-top: 10p;
   padding-bottom: 10p;
}

.people-reacted-div > div > span {
   position: relative;
   right: 12px;
   white-space: pre-wrap;
   word-wrap: break-word;
   width: 200px;
}

.people-reacted-div > div > div > vaadin-avatar {
   width: 47px;
   height: 47px;
   border: 0.5px solid var(--lumo-contrast-20pct);
}

.people-reacted-div > div > div > vaadin-icon {
   position: relative;
   right: 12px;
   top: 22px;
}

.people-reacted-div::-webkit-scrollbar {
   display: none;
}

.people-reacted-div {
   display: flex;
   flex-direction: column;
   height: 600px;
   overflow-y: auto;
}

.people-reacted-div > div:active {
   background: var(--hover-color);
}

.people-reacted-div > div {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-top: 10px;
   padding-bottom: 10px;
}

.people-reacted-tabsheet::part(content)::-webkit-scrollbar {
   display: non;
}

.people-reacted-tabsheet::part(content) {
   padding: 0;
}

.people-reacted-tabsheet vaadin-tabs vaadin-tab > div > span {
   position: relative;
   right: 5px;
}

.people-reacted-tabsheet vaadin-tabs vaadin-tab > div > vaadin-icon {
   position: relative;
   top: 5px;
   font-size: 20px;
}

.people-reacted-tabsheet vaadin-tabs vaadin-tab > div {
   display: flex;
   align-items: center;
   width: 100%;
}

.people-reacted-tabsheet vaadin-tabs vaadin-tab > div > span:first-child {
   margin-right: 5px;
}

.people-reacted-tabsheet vaadin-tabs vaadin-tab:before {
   width: 100%;
}

.people-reacted-tabsheet vaadin-tabs vaadin-tab {
   color: var(--secondary);
}

.people-reacted-app-layout::part(navbar) {
   background: var(--primary);
}
