@import "edit-image.css";

/*.add-artwork-edit-main > div:nth-child(1) {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100;
   height: 100%;
}*/

.add-artwork-edit-main img {
   max-width: 359p;
   height: 650p;
   pointer-events: none;
}

/*.add-artwork-edit-main::part(navbar) {
   background: 0 !important;
   z-index: 0;
}*/

.add-artwork-edit-main {
   background: black;
}

.add-artwork-edit-main {
   height: 100p;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow-y: hidden;
}

/* ADD POST */
.add-post-text-area-with-image > textarea:placeholder-shown {
   color: white;
}

.add-post-text-area-with-image::part(input-field) {
   border: 1px solid var(--lumo-contrast-5pct);
   border-radius: 8px;
   color: white;
   height: 80px;
   background: var(--text-area-color);
}

.add-post-remove-main-div > div:nth-child(3):active,
.add-post-remove-main-div > div:nth-child(4):active {
   background: var(--hover-color);
}

.add-post-remove-main-div > div:nth-child(3) {
   margin-bottom: 12p;
}

.add-post-remove-main-div > div:nth-child(3) > vaadin-icon,
.add-post-remove-main-div > div:nth-child(4) > vaadin-icon {
   background: var(--button-contrast-color);
   font-size: 28px;
   padding: 10px;
   border-radius: 50%;
}

.add-post-remove-main-div > div:nth-child(3),
.add-post-remove-main-div > div:nth-child(4) {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 8px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 6px;
   padding-bottom: 6px;
}

.add-post-remove-main-div > div:nth-child(2) {
   background: var(--nav-border);
   height: 0.5px;
   margin: 10px 10px 12px 10px;
}

.add-post-remove-main-div {
   margin: 10p;
   z-index: 999999;
}

.add-post-remove-main-div > div:first-child > div > span:first-child {
   color: white;
   font-weight: bold;
   font-size: 15px;
}

.add-post-remove-main-div > div:first-child > div {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    color: var(--block-text-color);
}

.add-post-remove-main-div > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.add-post-image-div > div:last-child div > vaadin-icon {
   align-self: center;
}

.add-post-image-div > div:last-child div {
   display: flex;
   flex-direction: colum;
   justify-content: cente;
   width: 100%;
}

.add-post-remove-main-div > div:first-child > img {
    min-width: 55px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
    pointer-events: none;
}

.add-post-image-div > div {
   border-radius: 8px;
   width: 170px;
   height: 165px;
}

.add-post-image-div vaadin-vertical-layout {
   z-index: 9999999999999;
}

.add-post-image-div > div > img {
}

.add-post-image-div > div:not(.add-post-image-div > div:first-child) {
   width: ;
   position: relativ;
   right: 74p;
}

.add-post-image-div > div,
.add-post-image-div > div > div:last-child {
   display: flex;
   flex-direction: row;
}

.add-post-image-div > div > div:last-child > vaadin-icon:last-child {
   margin-left: 5px;
}

.add-post-image-div > div > div:last-child > vaadin-icon:active {
   filter: contrast(50%);
}

.add-post-image-div > div > div:last-child > vaadin-icon {
   color: white;
   background: var(--lumo-shade-50pct);
   border-radius: 50%;
   padding: 9px;
   font-size: 23px;
}

.add-post-image-div > div > div:last-child {
   position: relative;
   top: 8px;
   right: 86px;
   height: 34px;
}

.add-post-image-div > div:first-child {
   margin-left: 12px;
}

.add-post-image-div > div:last-child {
   margin-right: 12px;
}

.add-post-image-div > div > div:first-child:active {
   filter: contrast(50%);
}

.add-post-image {
   height: 165px;
   width: 170px;
   border-radius: 8px;
   object-fit: cover;
   pointer-events: none;
}

.add-post-image-div::-webkit-scrollbar {
   display: none;
}

.add-post-image-div {
   display: flex;
   flex-direction: row;
   align-items: center;
   /*margin-left: 12px !importan;
   margin-right: 12px !importan;*/
   margin-top: 6px;
   gap: 6px;
   width: 100%;
   height: 180p;
   overflow-x: auto;
   scroll-behavior: smooth;
}

.artwork-upload > vaadin-button {
   width: 100%;
}

.post-add-photos-button > div {
   width: 359px;
   display: flex;
   align-items: center;
   justify-content: start;
   z-index: 99999;
}

.post-add-photos-button:before {
   background: none;
}

.post-add-photos-button {
   background: none;
   border-radius: 0;
   color: unset;
   width: 100%;
   padding: 0;
   padding-left: 12px;
   z-index: 99999;
}

.add-artwork-app-layout > vaadin-vertical-layout > vaadin-form-layout > vaadin-text-area::part(input-field) {
   margin-left: 12px;
   margin-right: 12px;
}

.add-artwork-app-layout > vaadin-vertical-layout > vaadin-form-layout > vaadin-text-area {
   display: flex;
   justify-content: center;
   align-items: center;
}

.add-artwork-app-layout > vaadin-vertical-layout > vaadin-form-layout > vaadin-horizontal-layout {
   margin-left: 12px;
}

.add-artwork-app-layout > vaadin-vertical-layout {
   padding-left: 0;
   padding-right: 0;
   padding-top: 5px;
   height: 100%;
}

.add-post-main-layout {
   display: flex;
   flex-direction: column;
}

.add-post-actions-div > div:nth-child(1) > vaadin-icon {
   color: var(--lumo-success-color);
}

.add-post-actions-div > div:nth-child(2) > vaadin-icon {
   color: var(--lumo-primary-color);
}

.add-post-actions-div > div:nth-child(3) > vaadin-icon {
   color: var(--lumo-error-color);
}

.add-post-actions-div > div:nth-child(4) > vaadin-icon {
   color: var(--lumo-warning-color);
}

.add-post-actions-div > div:nth-child(5) > vaadin-icon {
   color: var(--lumo-error-text-color);
}

.add-post-actions-div vaadin-icon {
  font-size: 12px;
  margin-right: 15px;
}

.add-post-actions-div > div:active,
.post-add-photos-button:active,
.post-add-photos-button > div:active,
.artwork-upload > vaadin-button:active {
  background: var(--hover-color);
}

.add-post-actions-div > div {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.add-post-actions-div > vaadin-button {
  width: 335px;
  margin-left: 12px;
  margin-right: 12px;
  height: 53px;
  border-radius: 5px;
  margin-top: 10px;
}

.add-post-actions-div {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* POST */
.post-description {
  background: var(--primary);
  white-space: pre;
  padding-left: 10px;
  font-size: 23p;
  letter-spacing: 1p;
  text-shadow: 0.5px 0.5px currentColo;
}

.post-comment-main-layout {
  padding: 0;
  padding-left: 10px;
}

.post-comment-footer-layout > div > vaadin-icon:nth-child(1) {
  background: var(--lumo-primary-color);
}

.post-comment-footer-layout > div > vaadin-icon:nth-child(2) {
  background: var(--lumo-error-color);
  right: 3px;
}

.post-comment-footer-layout > div > vaadin-icon:nth-child(3) {
  background: var(--lumo-warning-color);
  right: 6px;
}

.post-comment-footer-layout > div > vaadin-icon {
  position: relative;
  font-size: 12px;
  border-radius: 50%;
  padding: 3px;
  color: white;
}

.post-comment-footer-layout > span:nth-child(3) {
  margin-right: 10px;
}

.post-comment-footer-layout > span:nth-child(2) {
  margin-right: 15px;
}

.post-comment-footer-layout > span:nth-child(2),
.post-comment-footer-layout > span:nth-child(3) {
  font-weight: bold;
}

.post-comment-footer-layout > span:nth-child(1) {
  margin-left: 60px;
  margin-right: 15px; 
}

.post-comment-footer-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  color: var(--lumo-contrast-70pct);
  position: relative;
  bottom: 12px;
}

.post-comment-layout > div > span:nth-child(2) {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.post-comment-layout > div > span:nth-child(1) {
  font-weight: bold;
  font-size: 14px;
}

.post-comment-layout > div {
  display: flex;
  flex-direction: column;
  color: white;
  background: var(--lumo-contrast-5pct);
  padding: 10px;
  border-radius: 15px;
  max-width: 270px;
  white-space: pre;
  justify-content: center;
  margin: 0;
}

.post-comment-layout > vaadin-avatar {
  pointer-events: none;
  width: 40px;
  height: 40px;
  border: 0.5px solid var(--lumo-contrast-20pct);
  margin-right: 8px;
}

.post-comment-layout {
  margin-bottom: 10p;
  display: flex;
  flex-direction: row;
}

.post-comment-virtual-list {
  height: auto;
  padding-top: 5px;
}

.post-sorted-line {
  height: 0.5px;
  width: 100%;
  background: var(--nav-border);
}

.post-sorted-okay-button {
  background: var(--lumo-primary-color);
  font-weight: bold;
  color: white;
  width: 100%;
  border-radius: 6px;
  margin: 0;
}

.comment-app-layout > vaadin-form-layout {
  overflow-x: hidden;
  height: auto;
}

.post-sorted-header {
  border-bottom: 0.5px solid var(--nav-border);
  justify-content: center;
  font-weight: bold;
  color: white;
  padding-top: 15px;
  padding-bottom: 10px;
}

.post-sorted-div vaadin-radio-group[has-value] > vaadin-radio-button::part(radio) {
  background: var(--lumo-primary-color);
  border: 1px solid var(--lumo-primary-color);
  color: green;
}

.post-sorted-div vaadin-radio-button::part(radio) {
  border: 1px solid white;
  background: none;
  font-size: 20px;
}

.post-sorted-div > span:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--lumo-contrast-70pct);
}

.post-sorted-div {
  display: flex;
  flex-direction: column;
}

.post-sorted-layout {
  padding-top: 10px;
  padding-bottom: 15px;
}

.post-sorted-text {
  padding-left: 8px;
  margin-bottom: 10px;
}

.post-send-icon {
  color: var(--lumo-primary-color);
  font-size: 30px;
  transform: rotate(40deg);
  margin-top: 10p;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post-upload > vaadin-button > vaadin-icon {
  font-size: 25px;
}

.post-upload > vaadin-button {
  background: none;
  color: var(--lumo-contrast-60pct);
  margin: 0;
  font-size: 20px;
  width: 28px;
  padding: 0;
  height: 50px;
}

.post-text-area > textarea:placeholder-shown {
  position: relative;
  top: 10px;
}

.post-text-area::part(input-field) {
  background: var(--text-field);
  border-radius: 40px;
  width: 300px;
  border: 1px solid var(--lumo-contrast-10pct);
  position: relative;
  right: 10px;
  overflow: hidden;
}

.post-upload::part(done-icon),
.post-upload[uploading],
.post-upload::part(name),
.post-upload::part(remove-button) {
  display: none;
}

.post-footer-layout {
  width: 100%;
  border-top: 0.5px solid var(--nav-border);
  padding: 5px;
  align-items: center;
}

.post-header-layout > span {
   font-weight: bold;
}

.post-header-layout {
   width: 100%;
   justify-content: space-between;
   align-items: center;
   padding-right: 5px;
   padding-left: 10px;
}

.post-search-icon, .post-header-layout > vaadin-icon:nth-child(1) {
   font-size: 20px;
   color: white;
}


