.search-message-main-layout::-webkit-scrollbar {
   display: none;
}

.search-message-main-layout {
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
}

.search-message-main-layout > div > div:active {
   background: var(--hover-color);
}

.search-message-main-layout > div > div {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding-top: 6px;
   padding-bottom: 6px;
}

.search-message-main-layout > div > div > vaadin-avatar {
   margin-left: 10px;
   margin-right: 8px;
   border: 1px solid var(--lumo-contrast-20pct);
}

.search-message-main-layout > span {
   color: white;
   text-shadow: 0.5px 0.5px white;
   margin-left: 10px;
}

.search-message-app-layout > vaadin-horizontal-layout > vaadin-text-field > input:placeholder-shown,
.search-message-app-layout > vaadin-horizontal-layout > vaadin-text-field > [slot="prefix"] {
   color: var(--secondary);
}

.search-message-app-layout > vaadin-horizontal-layout > vaadin-text-field::part(input-field) {
   width: 295px;
   background: var(--text-field);
   border-radius: 30px;
   position: relative;
   right: 10px;
}

.search-message-app-layout::part(navbar),
.search-message-app-layout[overlay] {
   background: var(--primary);
}
